@font-face {
  font-family: 'SansationLight';
  src: url('SansationLight.eot');
  src: local('SansationLight'), url('SansationLight.woff') format('woff'), url('SansationLight.ttf') format('truetype');
}

html{
	min-height: 100%; /* tall as viewport */
}

body{
	height: 100%;
	margin: 0 auto;
	background-color: #000;
	color: #fff;
	font-family: 'SansationLight';
}

.container{
	position: relative;
	width: 100%;
	float: left;
}

#overlap{
	height: 0vh;
	animation-name: loadImg;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-fill-mode:forwards;
}

@keyframes loadImg{
	0%   { height:  0vh; opacity: 0; }
	100% { height:100vh; opacity: 1; }
}

.pattern{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../assets/ptrn.png') repeat;
	z-index: 2;
}

#mainPicture{
	position: absolute;
	background-image: url('../assets/pic4.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}

#header{
	position: absolute;
	font-size: 500%;
	text-align:center;
	opacity: 0;
    left: 0;
    margin: auto;
    top: 45%;
    width: 0%;
    background-color: rgba(0, 0, 0, 0.0); 
	z-index: 3;
	animation: reveal 1s ease-out 4s forwards;
}

@keyframes reveal{
	0%   { opacity: 0.0; left: -500px; width: 100%; background-color: rgba(0, 0, 0, 0.3); }
	100% { opacity: 1.0; left:   0px;width: 100%; background-color: rgba(0, 0, 0, 0.3); }
}

#cntntBelow{
	width: 100px;
	height: 100px;

	background: none repeat scroll 0 0 transparent;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;

    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

#cntntBelow:active{
	opacity: 0;

}